* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer-tlf_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

html {
    /*font customproperty*/
    --overskrift_font: impact;
    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --gennemsigtig_bg: rgb(0,0,0,0.345);

    --primaer_text: white;
    --sekundaer_text: #333333;
    --primaer_tlf_text: #2A2A2A;
    --primaer_pc_text: #414141;
}

section#projekter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h1 {
    color: #010101;
}

p {
    margin: 0px 20px;
}

section#projekter>img.vandret_streg {
    max-width: 120px;
    max-height: 20px;

    margin-bottom: 20px;
}

#bokse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 20px;
    text-align: center;
}
#bokse a {
    text-decoration: none;
    color: var(--primaer_text);
}

.boks {
    border: 5px solid #010101;
    padding: 5px 10px;
    border-radius: 20px;

    display: flex;
    flex-direction: column; 
    gap: 15px;

    background: linear-gradient(to bottom, #010101 0%,#010101 45%, #01010159 45%, #01010159 100%);
}

.boks span:first-child {
    font-family: var(--overskrift_font);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--primaer_text);

    max-height: 50px;
}

.boks span:last-child {
    font-size: 1.5rem;
    line-height: 25px;
    margin: 20px 0px 15px 0px;

    /* max-height: 50px; */
}



/*------------------------pc-------------------------*/

@media (min-width: 600px) {    
    h1 {
        color: #010101;
    }
    p {
        color: var(--primaer_text);
    }
    /*site grid*/
    main#side3_projekter {
        display: grid;
        grid-template-columns: 0.5fr 5fr 0.5fr;
    }

    /*titel*/
    section#projekter {
        grid-column: 2/3;

        text-align: left;
        align-items: flex-start;
    }
    h1 {
        font-size: 4rem;
    }
    p {
        margin: 0px;
        font-size: 1.2rem;
    }
    section#projekter>img.vandret_streg {
        display: none;
    }
    
    /*bokse*/
    #bokse {
        grid-column: 2/3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 20px 30px 20px 0px;
        text-align: center;
        max-width: 1000px;
    }
    #bokse a {
        text-decoration: none;
        color: var(--primaer_text)
    }
    
    .boks {
        border: 5px solid #010101;
        padding: 10px 5px;
        border-radius: 20px;
        max-width: 250px;
    
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
    
    .boks span:first-child {
        font-size: 3rem;
    
        max-height: 90px;
    }
    
    .boks span:last-child {
        font-size: 2rem;
        line-height: 2rem;
        margin: 20px 0px 20px 0px;
    
        /* max-height: 50px; */
    }

}