* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer-tlf_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

html {
    /*font customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --primaer_pc_bg: #BBB8B8;
    --sekundaer_pc_bg: white;
    --gennemsigtig_bg: rgb(0,0,0,0.345);

    --primaer_text: white;
    --sekundaer_text: #333333;
    --primaer_tlf_text: #2A2A2A;
    --primaer_pc_text: #414141;
}

main#tema1 {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}

p, li {
    font-size: 0.9rem;
}

/*titel*/
section.titel {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

section.titel>h1 {
    font-size: 2.35rem;
    line-height: 3rem;
}

section.titel>.vandret_streg {
    max-width: 200px;
    max-height: 10px;
    margin-bottom: 10px;
}

/*video og knap*/
#t1_video_and_button {
    grid-column: 2/3;

    margin: 10px 0px 20px 0px;
}

#t1_video>iframe {
    max-width: 330px;
    max-height: 200px;

    border: 0px;
}

/*opgave beskrivelse og krav*/
#t1_opg_intro {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    gap: 10px;
   /*  margin: 20px; */
}

.opg_krav ul{
    margin-left: 20px;
}


/*process*/
.process {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    /* gap: 10px;*/
}

.process p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6) {
    margin-top: 10px;
}
.process img {
    margin: 20px 0px;
}

/*ekstra information*/
.color {
    grid-column: span 3;

    background-color: var(--gennemsigtig_bg);

    padding: 20px 0px;
}
.obs {
    margin: 0px 30px;
}
.program_liste {
    display: flex;
    gap: 10px;
}
.program_iconer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program_iconer img {
    max-height: 60px;
    max-width: 60px;
}
.process_pic {
    display: none;
}


/*------------------------pc-------------------------*/

@media (min-width: 600px) {
    h2, h3 {
        color: var(--sekundaer_text);
    }
    p {
        color: var(--primaer_pc_text);
    }
    aside, aside p, aside h2, aside h3 {
        color: var(--primaer_text);
    }

    /*site grid*/
    main#tema1 {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 2fr 0.5fr;
        gap: 20px;
    }
    
    /*titel*/
    section.titel {
        grid-column: 2/5;
        grid-row: 1/2;
        align-items: flex-start;
    }
    
    section.titel>h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    section.titel>.vandret_streg {
        display: none;
    }
    
    /*video og knap*/
    #t1_video_and_button {
        grid-column: 2/3;
        grid-row: 2/3;
    
        margin: 10px 0px;
    }
    
    #t1_video>iframe {
        max-width: 545px;
        max-height: 305px;
    
        border: 0px;
    }
    
    /*opgave beskrivelse og krav*/
    #t1_opg_intro {
        grid-column: 3/5;
        grid-row: 2/3;
    }
    
    
    /*process*/
    .process {
        /* grid-column: 2/3; */
        grid-column: 2/4;
        grid-row: 3/4;
    
        margin-bottom: 20px;
    }
    
    .process p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6) {
        margin-top: 20px;
    }
    /* figure.process_pic {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    figure.process_pic img {
        height: 100%;
        width: 100%;
        aspect-ratio: 5/1;
        object-fit: cover;
        max-width: 50px;
        max-height: 100px;
    } */
    
    /*ekstra information*/
    .color {
        grid-column: 4/5;
        grid-row: 3/4;
    
        padding: 20px 0px;
        border-radius: 30px;
    }
    .obs {
        grid-column: 4/5;
        grid-row: 3/4;
        margin: 0px 30px;
    }
}