* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer-tlf_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

html {
    /*font customproperty*/
    --overskrift_font: 'impact';
    --text_font: Arial, sans-serif;

    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --gennemsigtig_bg: rgba(0, 0, 0, 0.345);

    --primaer_text: white;
    --sekundaer_text: #010101;
    --primaer_tlf_text: #2A2A2A;
}

/*button size fix*/
.originalProjekt_button {
    max-width: 250px;
}
.originalProjekt_button p {
    min-width: 150px;
    font-size: 1.5rem;
}

/*site grid*/
section#t2_del1 {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}
section#t2_del2 {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}

p, li {
    font-size: 0.9rem;
    list-style-type: none;
}

/*titel*/
section.titel {
    margin: 0px 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

section.titel>h1 {

    font-size: 2.35rem;
    line-height: 3rem;
}

section.titel>.vandret_streg {
    max-width: 200px;
    max-height: 10px;
    margin-bottom: 10px;
}

/*to delt titel*/
h2.todelt {
    grid-column: 2/3;
    text-align: center;
}

/*billede og knap*/
.pic_and_button {
    grid-column: 2/3;

    margin: 10px 0px 20px 0px;
}
.pic_and_button h2 {
    text-align: center;
}
.pic_and_button img {
    margin-bottom: 10px;
}


/*opgave beskrivelse*/
.opg_besk {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    gap: 10px;
   /*  margin: 20px; */
}


/*process*/
.process {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    /* gap: 10px;*/
}

.process p:nth-child(3), p:nth-child(4), p:nth-child(5) {
    margin-top: 10px;
}

/*ekstra information*/
.color {
    grid-column: span 3;

    background-color: var(--gennemsigtig_bg);

    padding: 20px 0px;
}
.obs {
    margin: 0px 30px;
}
.program_liste {
    display: flex;
    gap: 5px;
}
.program_iconer {
    min-width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program_iconer img {
    max-height: 60px;
    max-width: 60px;
}
.process_pic {
    display: none;
}



/*------------------------pc-------------------------*/


@media (min-width: 600px) {
    /*site grid*/
    main#tema2 {
        display: grid;
        grid-template-columns: 0.5fr 2.5fr 2.5fr 0.5fr;
    }

    section#t2_del1 {
        grid-column: 2/3;
        /*display: grid;
        grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-right: 20px;
    }
    section#t2_del2 {
        grid-column: 3/4;
        /* display: grid;
        grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 20px;
    }

    /*titel*/
    section.titel {
        grid-column: 2/4;
        grid-row: 1/2;
        align-items: flex-start;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
    section.titel>h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    section.titel>.vandret_streg {
        display: none;
    }

    /*to delt titel*/
    h2.todelt {
        /* grid-column: 1/2;
        grid-row: 1/2; */
        text-align: center;
        max-height: 40px;
    }

    /*billede og knap*/
    /* .pic_and_button {
        grid-column: 1/2;
        grid-row: 2/3;

        margin: 10px 0px 20px 0px;
    } */


    /*opgave beskrivelse*/
   /*  .opg_besk {
        grid-column: 1/2;
        grid-row: 3/4; 
    } */


    /*process*/
    /* .process {
        grid-column: 1/2;
        grid-row: 4/5;
    } */

    .process p:nth-child(3), p:nth-child(4), p:nth-child(5) {
        margin-top: 20px;
    }
    .process a:last-child {
        margin: 20px 0px 10px 0px;

    }

    /*ekstra information*/
    .color {
        grid-column: span 4;
        grid-row: 3/4;
    }
    .obs {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 2.5fr 0.5fr;
        margin: 0px 30px;
        gap: 20px;
    }

    .medvirkende {
        grid-column: 2/3;
    }

    .programmer {
        grid-column: 3/4;
    }
    .programmer h3 {
        margin-left: 16px;
    }

    .nyt {
        grid-column: 4/5;
    }

    .process_pic {
        display: none;
    }
}