* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer-tlf_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

html {
    /*font customproperty*/
    --overskrift_font: 'impact';
    --text_font: Arial, sans-serif;

    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --gennemsigtig_bg: rgba(0, 0, 0, 0.345);

    --primaer_text: white;
    --sekundaer_text: #010101;
    --primaer_tlf_text: #2A2A2A;
}

/*button size fix*/
.originalProjekt_button {
    max-width: 250px;
}
.originalProjekt_button p {
    min-width: 150px;
    font-size: 1.5rem;
}

/*site grid*/
main#tema6 {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}
p, li {
    font-size: 0.9rem;
    list-style-type: none;
}


/*titel*/
section.titel {
    grid-column: span 3;
    margin: 0px 25px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

section.titel>h1 {

    font-size: 2.35rem;
    line-height: 3rem;
}

section.titel>.vandret_streg {
    max-width: 200px;
    max-height: 10px;
    margin-bottom: 10px;
}

/*to delt titel*/
h2.todelt {
    grid-column: 2/3;
    text-align: center;
}

/*video og knap*/
#t5_video_and_button {
    grid-column: 2/3;

    margin: 10px 0px 20px 0px;
}

#t5_video>iframe {
    max-width: 330px;
    max-height: 200px;
    
    border: 0px;
}

/*billede og knap*/
.pic_and_button {
    grid-column: 2/3;
   
    margin: 10px 0px 20px 0px;
}
.pic_and_button h2 {
    text-align: center;
}
.pic_and_button img {
    margin-bottom: 10px;
}

/*opgave beskrivelse*/
.opg_besk {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    gap: 10px;
   /*  margin: 20px; */
}


/*process*/
.process {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    /* gap: 10px;*/
}

.process p:nth-child(3), p:nth-child(4), p:nth-child(5), p:nth-child(6), p:nth-child(7), p:nth-child(8), p:nth-child(9), p:nth-child(10), p:nth-child(11), p:nth-child(12) {
    margin-top: 10px;
}

/*ekstra information*/
.color {
    grid-column: span 3;

    background-color: var(--gennemsigtig_bg);

    padding: 20px 0px;
}
.obs {
    margin: 0px 30px;
    max-width: 350px;
}
.program_liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 350px;
}
.program_iconer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    min-width: 90px;
} 
.program_iconer :first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}
.program_iconer :nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.program_iconer :nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}
.program_iconer :nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.program_iconer :nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.program_iconer img {
    max-height: 60px;
    max-width: 60px;
}
.process_pic {
    display: none;
}

/*layoutdiagram*/
section#t6_layoudiagram {
    grid-column: 2/3;
    text-align: center;
}