* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

#pp_buttons a {
    padding: 25px 70px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to top right, #5D5D5D 0%,#BDBDBD 50%, white 100%);
    font-size: 2rem;
    text-decoration: none;
    color: var(--sekundaer_text);
    text-align: center;
}
button>p {
    font-size: 2rem;
}