* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer_text);
    background-color: var(--primaer_bg);
}

img {
    width:100%;
    height: auto;
    display: block
}

html {
    /*font customproperty*/
    --overskrift_font: 'impact';
    --text_font: Arial, sans-serif;

    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --gennemsigtig_bg: rgb(0,0,0,21);

    --primaer_text: white;
    --sekundaer_text: #010101;
    --primaer_tlf_text: #2A2A2A;
}

/*Foride knapper*/
#pp_buttons a {
    padding: 25px 70px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to top right, #5D5D5D 0%,#BDBDBD 50%, white 100%);
    font-size: 2rem;
    text-decoration: none;
    color: var(--sekundaer_text);
    text-align: center;
}
button>p {
    font-size: 2rem;
}

/*Tidlidere projekt knapper på undersder*/
.originalProjekt_button {
    display: flex;

    border: none;
    border-radius: 50px;
    background: linear-gradient(to top right, #5D5D5D 0%,#BDBDBD 50%, white 100%);
    padding: 5px 25px;

    text-decoration: none;
    color: var(--primaer_tlf_text);

    max-width: 200px;
}
.originalProjekt_button span{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.originalProjekt_button p {
    min-width: 100px;
    font-size: 1.5rem;
}
.originalProjekt_button span>img {
    max-width: 25px;
    max-height: 25px;
}
/*gå til knapper på undersder*/
/*download knapper på undersder*/