
  #logo {
    aspect-ratio: 1/13;
    height: 100%;
    position: absolute;
    left: 20%;
  }
  
  /* burgermenu */
  nav {
    display: flex;
    flex-direction: row-reverse;
    
    margin: 10px;
  } 

 
  .icon_menu {
    border: none;
    background-image: url(img/burgermenu.svg);
  /*   aspect-ratio: 13/1; */
    aspect-ratio: 2/1.4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 40px;
    max-height: 35px;
  }

  .icon_exit {
    border: none;
    background-image: url(img/exit.svg);
    aspect-ratio: 2/1.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 38px;
    max-height: 35px;
    /* position: absolute;
    left: 90%; */
  }

  .show {
    display: block;
  }
   .ul_menu {
    display: none;
    list-style-type: none;
  }
  .ul_menu li a {
    font-family: var(--overskrift_font);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primaer_text);
  }

  #main_menu.show ul {
    background-color: rgba(0, 0, 0, 0.642);
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding-right: 20px;
  }

  
  @media (min-width: 600px) {
    #toggle_button {
        display: none;
      }
  }