* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer_text);
    background-color: var(--primaer_bg);


    /*background pic mobil*/ /*iphone*/
    height: 100%;
    width: 100%;
    aspect-ratio: 1/3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(img/svale_arch.svg);
    background-size: cover;
    /* overflow: hidden; */
    z-index: 0;
}

img {
    width:100%;
    height: auto;
    display: block
}
main {
    margin: 20px;
}
/* @font-face {
    font-family: "dosis";
    src: url(fonts/dosis-variablefont_wght-webfont.woff2);
    } */
html {
    /*font customproperty*/
    --overskrift_font: 'impact';
    --text_font: Arial, sans-serif;

    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --gennemsigtig_bg: rgb(0,0,0,21);

    --primaer_text: white;
    --sekundaer_text: #010101;
    --primaer_tlf_text: #2A2A2A;
}

/*primæresider font*/
h1 {
    font-family: var(--overskrift_font);
    font-size: 3rem;
}
.navn_stud > h2 {
    font-weight: bold;
    font-stretch: condensed;
    font-size: 1.5rem;
}
.navn_stud > h3 {
    font-stretch: condensed;
    font-style: italic;
    font-size: 0.9rem;
}
h4 { 
    font-weight: bold;
    font-stretch: condensed;
}
button > p {
    font-stretch: condensed;
}
/*undersider font*/
h2 {
    font-weight: bold;
    font-stretch: condensed;
}
p.titel {
    font-weight: bold;
    font-stretch: condensed;
}
p.programmer {
    font-stretch: condensed;
    font-style: italic;
}