* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaer_text);
    background-color: var(--primaer_bg);


    /*background pic mobil*/ /*iphone*/
    height: 100%;
    width: 100%;
    aspect-ratio: 1/3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(img/svale_arch.svg);
    background-size: cover;
    /* overflow: hidden; */
    z-index: 0;
}

img {
    width:100%;
    height: auto;
    display: block
}

/* @font-face {
    font-family: "dosis";
    src: url(fonts/dosis-variablefont_wght-webfont.woff2);
    } */
html {
    /*font customproperty*/
    --overskrift_font: 'impact';
    --text_font: Arial, sans-serif;

    /*farve customproperty*/
    --primaer_bg: #CBC9C9;
    --sekundaer_bg: white;
    --primaer_pc_bg: #BBB8B8;
    --sekundaer_pc_bg: white;
    --gennemsigtig_bg: rgb(0,0,0,0.345);

    --primaer_text: white;
    --sekundaer_text: #010101;
    --primaer_tlf_text: #2A2A2A;
    --primaer_pc_text: #505050;
}

/*primæresider font*/
h1 {
    font-family: var(--overskrift_font);
    font-size: 3rem;
}
.navn_stud > h2 {
    font-weight: bold;
    font-stretch: condensed;
    font-size: 1.5rem;
}
.navn_stud > h3 {
    font-stretch: condensed;
    font-style: italic;
    font-size: 0.9rem;
}
h4 { 
    font-weight: bold;
    font-stretch: condensed;
}
button > p {
    font-stretch: condensed;
}
/*undersider font*/
h2 {
    font-weight: bold;
    font-stretch: condensed;
    font-size: 1.8rem;
}
h2.todelt {
    font-stretch: condensed;
    font-size: 1.9rem;
}
h3 {
    font-weight: bold;
    font-stretch: condensed;
    font-size: 1.8rem;
}
.program_iconer p {
    font-stretch: condensed;
    font-style: italic;
}
.display_none_pc {
    display: contents;
    display: block;
}
.display_none_tlf {
    display: none;
}

@media (min-width: 600px) {
    /*nav*/
    header {
        margin-bottom: 20px;
    }
    #logo {
        max-width: 55px;
        max-height: 55px;

        /* justify-self: flex-end;
        align-self: center; */

        margin: 10px 20px 0px 20px;
    }
    #main_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ul_menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .ul_menu li {
        color: var(--primaer_text);
        font-family: var(--text_font);
        list-style-type: none;
        
        border-left: 1px solid #d2d2d2;
        
        padding: 0px;
        margin-top: 10px;
    }
    .ul_menu li a, .ul_menu li p {
        color: var(--primaer_text);
        font-family: var(--text_font);
        font-stretch: condensed;
        font-size: 1rem;
        text-decoration: none;
        letter-spacing: 2px;

        display: block;
        padding: 20px 10px;
    }
    .ul_menu li:hover {
        background-color: var(--gennemsigtig_bg);
    }
    .active {
        background-color: rgba(0, 0, 0, 0.634);
    }

    /*billed styring*/
    .display_none_pc {
        display: none;
    }
    .display_none_tlf {
        display: contents;
        display: block;
    }

    /*bg styring*/
    body {
        line-height: 1.6;
        color: var(--primaer_pc_text);
        background-color: var(--primaer_bg);

       /*background pic pc*/
       height: 100%;
       width: 100%;
       aspect-ratio: 16/1;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-image: url(img/sal.svg);
       background-size: cover;
    }
    body.m_svale {
        line-height: 1.6;
        color: var(--primaer_pc_text);
        background-color: var(--primaer_bg);

       /*background pic pc*/
       height: 100%;
       width: 100%;
       aspect-ratio: 16/1;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-image: url(img/sal_m_svale.svg);
       background-size: cover;
    }
    body.m_hvid_svale {
       /*background pic pc*/
       height: 100%;
       width: 100%;
       aspect-ratio: 16/1;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-image: url(img/hvid_sal_m_svale.svg);
       background-size: cover;
    }
   
}