/*overordnet layout*/
@media (min-width: 600px) {
    body {
        max-width: 1200px; 
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 5fr 1fr;
    }
}
@media (min-width: 1350px){
    /*body {
        max-width: 1200px; 
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 5fr 1fr;
    }*/
}
@media (max-width: 600px) {
    body {
        max-width: 1200px; 
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }
}
img {
    object-fit: cover;
    align-self: stretch;
}

/*interface layout*/
@media (min-width: 1350px) {
    .interface {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .left {
        position: fixed;
        left: 0px;
        margin-right: 20px;
    }
    .right {
        position: fixed;
        right: 0px;
        transform: scaleX(-1);
        margin-left: 20px;
    }
    .interface>img {
        object-fit: cover;
        align-self: stretch;
        width: 280px;
        height: 800px;
    }
}
@media (max-width: 1350px) {
    .interface {
        display: none;
    }
}

/*Nav. bar styling*/
@media (min-width:600px) {
    header {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0px 50px 0px 50px;
    }
    nav>ul {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #2DA79F;
    }
    nav>ul>li {
        display: inline;
        float: left;
    }
    nav>ul>li>a {
        display: block;
        padding: 10px;
        text-align: center;
        padding: 14px 16px;
    }
    nav>ul>li>a:hover {
        background-color:  #15514d;
    }
    .active {
        background-color: #35cfc5;
    }
}
@media (min-width:1910px) {
    header {
        grid-column: 2/3;
        position: fixed;
        padding: 0px 50px 0px 50px;
        top: 0px;
        left: 500px;
    }
    nav>ul {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #2DA79F;
    }
    nav>ul>li {
        display: inline;
        float: left;
    }
    nav>ul>li>a {
        display: block;
        padding: 10px;
        text-align: center;
        padding: 14px 16px;
    }
    nav>ul>li>a:hover {
        background-color:  #15514d;
    }
    .active {
        background-color: #35cfc5;
    }
}
@media (max-width:600px) {
    header {
        grid-column: 1/4;
    }
    nav>ul {
        gap: 25px;
        margin: 5px;
        padding: 10px;
    }
}
nav {
    --less-than: 825;
}

/*footer layout*/
@media (min-width: 600px) {
    footer {
        grid-column: 2/3;
        grid-row: 3/5;
        text-align: right;
        padding-right: 10px;
    }
}
@media (max-width: 600px) {
    footer {
        grid-column: 1/4;
        grid-row: 3/5;
        text-align: center;
    }
}

/*forside layout*/
@media (min-width:600px) {
    h1 {
        grid-column: 2/3;
    }
    main.forside {
        grid-column: 2/3;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    /*section layout*/
    section.forside {
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        gap: 10px;
        padding: 0px 10px 0px 10px;
        margin: auto;
    }
    section.one {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    section.two {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    section.three {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    /*figur layout*/
    .fig_lemon {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .fig_mango {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .fig_strawberry {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .order {
        order: -1;
    }
    figure {
        display: block;
        margin: auto;
        width: 100%;
    }
    /*billede layout*/
    section>figure {
        grid-column: span 3;
    }
    .billede {
        border-radius: 30%;
        margin: 10px;
    }
    .pad {
        padding-right: 20px;  
    }
    /*text layout*/
    section>.text {
        grid-column: span 2;
        padding: 5px;
        margin: 10px;
    }
    ul {
        margin: 10px;
    }    
}
@media (max-width:600px) {
    main.forside {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    /*section layout*/
    section.forside {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0px 10px 0px 10px;
        margin: auto;
    }
    section.one {
        grid-column:1/2;
        grid-row: 2/3;
    }
    section.two {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    section.three {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .text {
        order: 1;
    }
    /*figur layout*/
    .fig_lemon {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .fig_mango {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .fig_strawberry {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    figure {
        display: block;
        margin: auto;
        width: 100%;
    }
    /*billede layout*/
    section.forside>figure {
        display: none;
    }
    /*text layout*/
    section>.text {
        text-align: center;
        padding: 5px;
        margin: 10px;
    }
    ul {
        list-style: disc;
    }    
}

/*Mojito layout*/
/*Gin Hass layout*/
/*Frozen Daq. layout*/
@media (min-width:600px) {
    main {
        grid-column: 2/3;
    }
    h1 {
        grid-column: 1/4;
    }
    /*section layout*/
    .intro {
        grid-column: 2/3;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;
    }
    section.fremgangsmåde {
        grid-column: 2/3;
        grid-row: 5/6;
        /*display: grid;
        grid-template-columns: 5fr 2fr;*/
    }
    .god_til {
        grid-column: 2/3;
        grid-row: 7/8;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .opdeling {
        grid-column: 1/4;
    }
    /*figur layout*/
    .intro>figure {
        grid-column: 1/2;
    }
    .ingredienser {
        display: none;
    }
    /*.ingredienser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    figure.ingredienser>:first-child {
        grid-column: 1/2;
        grid-row: 1/3;
    }*/
    .smiley {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .god_til img {
        border-radius: 50%;
    }
    /*text layout*/
    .intro ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin-left: 20px;
        gap: 10px;
        
    }
    .intro ul>:first-child {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .intro ul>:nth-child(2) {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .intro ul>:nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .intro ul>:nth-child(4) {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .intro ul>:nth-child(5) {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .intro ul>:nth-child(6) {
        grid-column: 2/5;
        grid-row: 6/7;
    }
    .fremgangsmåde .text {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .god_til .text {
        grid-column: 2/3;
    }
    .god_til ul {
        display: grid;
        gap: 10px;
        align-content: center;
    }
}
@media (min-width:1350px) {
    .intro {
        grid-column: 2/3;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;
    }
    .intro ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin-left: 20px;
        gap: 50px;
        
    }
}
@media (max-width:600px) {
    main {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        padding: 5px 10px;
        gap: 10px;
    }
    h1 {
        grid-column: 1/3;
        padding-bottom: 10px;
    }
    /*section layout*/
    .intro {
        grid-column: 1/2;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    .fremgangsmåde {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .god_til {
        grid-column: 1/2;
        grid-row: 7/8;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .opdeling {
        grid-column: 1/2;
    }
    /*figure layout*/
    figure.ingredienser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
    .ingredienser>:first-child {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .ingredienser>:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .ingredienser>:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
        
    }
    .god_til img {
        border-radius: 50%;
    }
    /*text layout*/
    .intro ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin-left: 20px;
        gap: 10px;
        
    }
    .intro ul>:first-child {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .intro ul>:nth-child(2) {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .intro ul>:nth-child(3) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .intro ul>:nth-child(4) {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .intro ul>:nth-child(5) {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .intro ul>:nth-child(6) {
        grid-column: 2/5;
        grid-row: 6/7;
    }
    .fremgangsmåde .text {
        grid-column: 1/2;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .fremgangsmåde ol {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .god_til .text {
        grid-column: 2/3;
    }
    .god_til ul {
        display: grid;
        gap: 10px;
        align-content: center;
    }
}
.flip {
    -webkit-transform: scaley(-1);
        transform: scaley(-1);
}