.primary-font {
    font-family: var(--primary-font);
}

.red-text {
    color: rgb(230, 14, 14);
    padding-top: 20px;
}

.red-text2 {
    color: rgb(230, 14, 14);
    font-size: 18px;
    padding-top: 50px;
}

.feedback-header {
    font-size: 40px;
    padding-bottom: 10px;
}

.small-grey {
    color: rgb(202, 202, 202);
    font-size: 14px;
}

#textbox {
    margin: 8% 0 6% 8%;
}

.grid-tilbyder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    background-color: #000;

}


.grid-tilbyder a {
    text-decoration: none;
    color: #000;
}


.grid-tilbyder img:hover {
    transition: 0.4s;
    transform: scale(1.04);

}


#tilbyder-griditem-1, #tilbyder-griditem-2, #tilbyder-griditem-3, #tilbyder-griditem-4, #tilbyder-griditem-5, #tilbyder-griditem-6, #tilbyder-griditem-7, #tilbyder-griditem-8 {
    overflow: hidden;
}




.workout-text {
    padding: 10px;
    background-color: #fff;
}




#customer-feedback {
    background-color: rgb(56 56 56);
}

.feedback-box {
    padding: 8%;
    color: #fff;
    text-align: center;
}